.header__logo {
    color: $blackColor;
    font-family: 'Raleway';
    font-weight: $weight700;
    font-size: $size24;
    line-height: 1.9375rem;
}
.footer__logo{
    @extend .header__logo;
    color: $whiteColor;
}

.footer__blue,
.header__blue {
    color: $blueColor;
}

@media screen and (min-width: 481px) {
    .header__logo {
        font-size: $size26;
    }
}
