.section5 {
    &__bigFont {
        font-weight: $weight700;
        font-size: $size36;
        line-height: 2.625rem;
        color: $blackColor;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 94px;
    }
    &__box {
        list-style-type: none;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        padding-inline-start: unset;
        margin-bottom: 48px;
    }
    &__icon {
        border: 1px solid $light2Color;
        fill: $light2Color;
        border-radius: 4px;
        cursor: pointer;
    
        &:hover {
            border: 1px solid $blueColor;
            fill: $blueColor;
        }
    }
}
@media screen and (min-width: 768px) {
    .section5 {
        &__box {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }
    }
}
@media screen and (min-width: 1200px) {
    .section5 {
        &__box {
            display: flex;
            justify-content: space-between;
            margin-bottom: 96px;
        }
    }
}