.section2 {
    &__box {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin: 94px -30px 94px;
        list-style-type: none;
        padding: 0;
    }
    &__font{
        color: $blackColor;
        font-weight: $weight700;
        text-transform: uppercase;
        padding: 0 30px 0;
    }
    &__item {
        line-height: 1.5rem;
        padding: 0 30px;
    }
    &__icon {
        width: 270px;
        height: 120px;
        margin-left: 25px;
        background-color: $lightColor;
        border-radius: 4px;
    } 
}