/*COLORS*/
$blackColor: #000;
$whiteColor: #fff;
$darkColor: #2F303A;
$blueColor: #2196F3;
$greyColor: #757575;
$lightColor: #F5F4FA;
$light2Color: #AFB1B8;

/*FONTS*/
$size12: 12px;
$size14: 14px;
$size16: 16px;
$size18: 18px;
$size44: 44px;
$size20: 20px;
$size26: 26px;
$size36: 36px;
$size44: 44px;

$weight400: 400;
$weight500: 500;
$weight700: 700;
$weight900: 900;
